body {
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    margin: 10% 30% 10% 15%;
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
}

.contents {
    display: grid;
    grid-template-columns: repeat(12, 3fr);
} 

.commentClass{
    grid-column: 1/12;
    background-color: hsl(0, 0%, 100%);
    margin: 1em;
    border-radius: .5em;
}

.commentResponseClass {
    grid-column: 2/12;
    background-color: hsl(0, 0%, 100%);
    margin: 1em;
    border-radius: .5em;
}

.likeCount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(228, 33%, 97%);
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    height: 4em;
    border-radius: .5em;
    width: 2.5em;
    grid-column: 1/2;
    grid-row: 1/3;
}

.arrow {
    color:hsl(238, 40%, 52%);
    padding-top: .5em;
    /* margin-bottom: -.5em; */
}

.headerClass{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    grid-column: 3/10;
    grid-row: 1;
    margin-top: 1.5em;
    margin-left: -2em;
}

.commentText{
    grid-column: 3/12;
    grid-row: 2/3;
    color: hsl(211, 10%, 45%);
    line-height: 1.75em;
    font-size: 12pt;
    font-weight: lighter;
    margin-left: -2em;
    margin-bottom: 1.5em;
}

.replyClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 11/12;
    grid-row: 1;
    margin-top: 1em;
    align-self: center;
    align-items: center;
    width: 4em;
    color: hsl(238, 40%, 52%);
    font-weight: 450;
}

.editClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 11/12;
    grid-row: 1;
    margin-top: 1em;
    align-self: center;
    align-items: center;
    width: 4em;
    color: hsl(238, 40%, 52%);
    font-weight: 450;
}

.deleteClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 8/12;
    grid-row: 1;
    margin-top: 1em;
    align-self: center;
    align-items: center;
    width: 4em;
    color: hsl(358, 79%, 66%);
    font-weight: 450;
}
.username {
    padding-left: 1em;
    padding-right:1em;
}

.profilePic{
    height: 2.5em; 
}

.timestamp{
    color:hsl(211, 10%, 45%);
}

.newComment{
    display: flex;
    grid-column: 1/12;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 100%);
    border-radius: .5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 3em;
}

.textBox{
    height: 6em;
    width: 30em;
    border-radius: .5em;
    border: solid hsl(223, 19%, 93%);
    color: hsl(211, 10%, 45%); 
    padding: 1em 1em 2em 1em;
}

.sendBtn{
    height: 3em;
    width: 6em;
    border-radius: .5em;
    background-color: hsl(238, 40%, 52%);
    color:hsl(0, 0%, 100%);
    
}

.spacer{
    grid-column: 1/2;
    color:hsl(228, 33%, 97%);
    border-right: .15em solid hsl(223, 19%, 93%);
    width: 1.15em;
    margin-left: 5em;
}